<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ayu.bigbillion">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <queries>
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>
    </queries>

    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />

    <queries>

        <!-- List of apps which you want to support for Intent pay -->
        <package android:name="com.google.android.apps.nbu.paisa.user" />
        <package android:name="com.phonepe.app" />
        <!--
             Specific intents you query for,
             eg: for a custom share UI
        -->
        <intent>
            <action android:name="android.intent.action.SEND" />
        </intent>
    </queries>

    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />

    <application
        android:name=".helper.ApiConfig"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@drawable/billion_logo"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/billion_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.BettingApp"
        android:usesCleartextTraffic="true"
        tools:replace="android:usesCleartextTraffic">
        <activity
            android:name=".MainActivity2"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activities.ResultChartActivity"
            android:exported="false" />
        <activity
            android:name=".AddWithdrawalActivity"
            android:exported="true" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.HarufActivity"
            android:exported="true" />
        <activity
            android:name=".activities.JodiActivity"
            android:exported="true" />
        <activity
            android:name=".LoginProfileActivity"
            android:exported="false" />
        <activity
            android:name=".Side_Menu_Bar_Activity"
            android:exported="false" />
        <activity
            android:name=".WithdrawalActivity"
            android:exported="false" />
        <activity
            android:name=".Add_Account_Details_Activity"
            android:exported="false" />
        <activity
            android:name=".activities.OddEvenActivity"
            android:exported="true" />
        <activity
            android:name=".activities.QuickCrossActivity"
            android:exported="true" />
        <activity
            android:name=".MyTransactionActivity"
            android:exported="false" />
        <activity
            android:name=".Fast_Cross_Activity"
            android:exported="false" />
        <activity
            android:name=".AddPointsActivity"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="true"></activity>
        <activity
            android:name=".LoginActivity"
            android:exported="true" />
        <activity
            android:name=".OTP_Activity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />

        <service
            android:name=".helper.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>